@tailwind base;
@tailwind components;
@tailwind utilities;

/* This file is for your custom styles. */

.help-block{
  color: red;
  text-transform: capitalize;
  position: absolute;
  top: 39px;
}

.form-group{
  position: relative;
  margin-bottom: 25px;
}